body
{
  background-color: #2c3440 !important;
  background-image: linear-gradient( #2c3440 , #4b0c38, #2c3440);
}

.btnEP
{
  background-color: rgba(255, 255, 255, 0.919) !important;
  border: 1px solid rgb(255, 255, 255) !important;
  color: #000000 !important;
}

.btnEP:hover
{
  background-color: #a91b7e !important;
  border: 1px solid #4b0c38 !important;
  color: whitesmoke !important;
}

.epNumber
{
  color: white !important;
  background-color: #d61e9f !important;
  border: #4b0c38 !important;
}

.recents
{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  padding: 10px;
  background-color: rgb(33,37,41);
  border-radius: 14px;
}

.cards:hover
{
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 1px 1px 1px 1px rgba(152, 152, 152, 0.316);
}

.navB
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}

.me-2
{
  margin-top: 6px !important;
}

.list-group-item-dark
{
  color: white !important;
  background-color:rgb(33,37,41) !important;
}

.footerL
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: aliceblue;
}

.contact:hover
{
  color: rgba(210, 210, 210, 0.746) !important;
}

.alerta
{
  color: aliceblue !important;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  font-size:x-large;
}

.hrs
{
  color: whitesmoke;
}

::-webkit-scrollbar
{
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(120, 120, 120);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(33,37,41);
  border-radius: 10px;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(33,37,41);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.genres
{
  text-decoration: none;
  color: black;
  background-color:white;
  padding: 8px;
  border-radius: 10%;
  text-align: center;
  margin: 2px;
}

.genres:hover
{
  color: white;
  background-color:#d61e9f;
}