.box-out
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.box
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    justify-content: center;
}

.card
{
    border: 3px solid #007c9b82;
    border-radius: 6px;
    padding: .7rem;
    text-align: center;
}

.card:hover
{
    border: 3px solid #ffffff8f;
}

header input
{
    float: left;
}

.video
{
    border: #007c9b82 solid 5px;
    padding: 8px;
    border-radius: 7px;
}

.videoBox
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBox
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a
{
    text-decoration: none;
    padding: 5px;
    color: #ffffff;
    border: solid 2px #007c9b82;
    margin-bottom: 7px;
    border-radius: 7px;
    margin: 2px;
}

.nav a:hover {border: 2px solid #ffffff8f;}

.search
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caption
{
    text-align: center;
    margin-top: 40px
}

.underVid
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

h2
{
    text-align: center;
}

.i-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info
{
    width: 80%;
    text-align: center;
}

.info li
{
    list-style-type: none;
    padding: 2px;
}

.info h6
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.genres
{
    border: solid 1px #007c9b82;
    border-radius: 3px;
    padding: 2px;
}

.desc
{
    border: solid 2px #007c9b82;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.underInfo
{
    border: solid 2px #007c9b82;
    border-radius: 7px;
}

.footerL
{
    text-align: center;
    margin-top: 30px;
}

.boxRecents
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    justify-content: center;
}

.cardRecents
{
    border: 3px solid #007c9b82;
    border-radius: 6px;
    padding: .7rem;
    text-align: center;
}

.cardRecents:hover{border: 3px solid #ffffff8f;}