.box
{
    display: grid;

    grid-template-columns: repeat(auto-fill, 250px);
    
    grid-auto-rows: auto;
    
    grid-gap: 1rem;
}

.card
{
    border: 3px solid #007c9b82;

    border-radius: 6px;

    padding: .7rem;

    text-align: center;
}

.card:hover
{
    border: 3px solid #ffffff8f;
}

header input
{
    float: left;
}

.videoBox
{
    margin: 5px;
    padding: 19px;
    text-align: center;
}